@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
/*Normal: ( Michroma )
Bolder: ( Russo One )
*/



:root {
    --gal_primaire_fonce: #282322;
    --gal_primaire_pales: #dadada;
    --gal_bg_pale_75: rgb(218, 218, 218, 0.75);    
    --gal_second_moyen: #4B4E4F;
    --gal_bg_entetes_75: rgb(75, 78, 79, 0.75);
    --gal_second_bleu: #1C7898;
    --gal_bg_surligne: #648895;
    --gal_bg_surligne_50: rgb(100, 136, 149, 0.5);
    --gal_second_rouge: #6B0E18;
    
    --gal_noir: #010101;
    --gal_gris_pale: #909391;
    --gal_rouge_petant: #E23333;
    --gal_rouge_moyen: #AD1C23;
    --police-titres: 'Russo One', Verdana, sans-serif; 
    --police-texte: 'Michroma', Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("./images/elements_site/bdrop2.jpg");
    background-repeat: no-repeat;  
    background-size:cover;
    background-position:top;
    background-color: var(--gal_noir);
    color: var(--gal_primaire_pales);
    font-family: var(--police-texte);
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
body.body-404 {
    background-image: url("./images/elements_site/nasa-hubble-space-telescope-Md5Chaod3Ig-unsplash.jpg");
    background-repeat: no-repeat;  
    background-size:cover;
    background-position:top;
    background-color: var(--gal_noir);
    color: var(--gal_primaire_pales);
    font-family: var(--police-texte);
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
form {
    max-width: 600px;
    margin: 0 auto; 
}

.banniere {
    background-color: var(--gal_bg_entetes_75);
    color: var(--gal_primaire_pales);
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.banniere-titre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-wrap: nowrap;
    font-size: clamp(1.75rem, 4vw, 3.5rem);
    
}

.nav-bar-lien {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.entete-icone{
    margin: auto;
    height: clamp(40px, 4vw, 90px); 
    width: auto;
}

.nav-bar-icon {
    height: clamp(20px, 4vw, 60px); 
    margin: auto
}

.icone-menu-deroulant {
    color: var(--gal_primaire_pales);
}

.icone-menu-deroulant:hover {
    border-color: var(--gal_primaire_pales);
}

.nav-bar-icon-bloc {
    transition: transform 0.5s ease;
}

.boite-item-nav:hover .nav-bar-icon-bloc {
    transform: translateY(-16px);
}

.boite-item-nav .nav-bar-texte {
    opacity: 0;
    color: var(--gal_primaire_pales);
    visibility: hidden;
    position: absolute;
    top:100%;
    transition: opacity 0.5s ease;
    z-index: 10;
    transform: translateY(-5px);
}

.nav-bar-texte.nbt-long {
    font-size: 15px;
    transform: translateY(-12px);
}

.boite-item-nav:hover .nav-bar-texte {
    opacity: 1;
    visibility: visible;
    
}

.boite-item-nav.page-active .nav-bar-icon-bloc {
    border: 2px solid var(--gal_bg_surligne_50);
    border-radius: 8px;
}

/*.boite-item-nav.page-active .nav-bar-texte{
    opacity: 1;
    visibility: visible;
}*/

.boite-item-nav.page-active .nav-bar-texte p {
background-color: var(--gal_bg_surligne_50);
border-radius: 8px;
}

.menu-image {
    height: 100px;
}

.menu-deroulant {
    font-size: 20px;
}

.menu-deroulant a:hover {
    background-color: var(--gal_bg_surligne);
}

.menu-item-actif {
    color: var(--gal_second_rouge);
    font-weight: bold;
}

.page-chapeau {
    color: var(--gal_second_bleu);
    
}


/*.container{
    display: flex;
    flex-direction: column;
}*/

.carte{
    background-color:var(--gal_bg_pale_75) ;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    margin: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);


}
.image_equipage{
    width: 100px;
    height: 110px;
    border: 5px solide var(--gal_bg_surligne);
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;
    opacity: 100%;
}

.image_equipage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.information {
    flex: 1;
    text-align: left;
    padding-left: 8px;
}

.droit .information {
    text-align: left;
    padding-right: 30px;
    padding-left: 0;
}

.information h2{
    color: var(--gal_second_rouge); /* Rouge foncé pour les noms */
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 5px
}
.information p{
    color: var(--gal_second_rouge); /* Rouge foncé pour les noms */
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px
}
.information span{
    color: var(--gal_primaire_fonce);
}

.pied-page{
    background-color: var(--gal_bg_entetes_75);
    font-family: 'Michroma', sans-serif;
    font-size: 16px;
    color: var(--gal_primaire_pales);
}
.pied-page a{
    color: var(--gal_primaire_pales);
}

.pied-page-p {
    font-size: 13px;
}

.carte-bouton {
    background-color: var(--gal_bg_surligne);
    opacity: 100%;
    width: 100%;
    text-align: center;
    color: var(--gal_primaire_pales);
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    margin-top: 12px;
    font-size: 13px;
    font-weight: bold;
    

}
.modale{
    display:none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--gal_bg_pale_75);
    align-items: center;
    padding: 20px;
}
.modale:target{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modale-boite{
    position: relative;
    background-color: var(--gal_primaire_pales);
    border-radius: 16px ;
    padding: 26px;
    width: 90%;
    max-width: 640px;
    max-height: 100%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.modale-fermer{
    position: absolute;
    top:15px;
    right: 20px;
    color: var(--gal_gris_pale);
    text-decoration: none;
    font-size: 30px;
    padding: 4px 8px;
    border-radius: 8px;
    transition: 0.5s;
}
.modale-fermer:hover{
    color: var(--gal_primaire_pales);
    background-color: var(--gal_rouge_petant);
}
.modale-fond{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo img{
    width: 100%;
    max-width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 10px solid var(--gal_bg_surligne);
}
.info-gauche{
    color: var(--gal_primaire_fonce);
    grid-column: 1;
    margin-top: 10px;
}
.info-droite{
    color: var(--gal_primaire_fonce);
    grid-column: 2;
    grid-row: 1/ span 2 ;
}
.info-bas{
    color: var(--gal_primaire_fonce);
    grid-column: 1 / span 2;
    padding-top: 15px;
    margin-top: 10px;
}
.modale-boite p{
    font-size: 20px;
    line-height: 1.4;
    margin: 8px 0;
}
.titre{
    color: var(--gal_second_rouge); /* Rouge foncé pour les noms */
    font-size: 20px;
    font-weight: 500;
}

.nav-modale{
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
    padding-top: 15px ;
}
.btn-nav{
    display: block;
    background-color: var(--gal_second_bleu);
    color: var(--gal_second_rouge);
    padding:10px;
    margin-top: 15px;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 75%;
    width: 30%;

}
.lead{
    color:var(--gal_second_bleu) ;
}
.btn-tel{
    padding: 10px 24px;
    font-size: 15px;
    background-color: #1a6f8a;
    border: 2px solid #3ca5c4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(60, 165, 196, 0.5);
    white-space: nowrap;
}
.btn-tel:hover{
    opacity: 0.9;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}
#container-telephone{
    max-width: 6000px;
    margin: 0 auto; 
}
.form-label{
    white-space: nowrap;
    font-size: 25px;
}
.form-check{
    font-size: 25px;
}
.structure-carte {
    display: grid !important; 
    grid-template-columns: 250px 1fr;
}

.tableau-episodes thead tr th {
    background-color: var(--gal_bg_surligne);
    color: var(--gal_primaire_pales);
}

.tableau-episodes thead tr.ligne-table-titre th  {
    background-color: var(--gal_second_bleu);
    color: var(--gal_primaire_pales);
}    

.tableau-episodes tbody tr td {
    background-color: var(--gal_bg_pale_75);
    color: var(--gal_primaire_fonce);
}
.colonne1{
    width: 10%
}

.colonne2{
    width: 30%
}

.colonne3{
    width: 15%
}

.colonne4{
    width: 45%
}

.texte-accueil-site {
    color: var(--gal_primaire_pales);
}

.carte-personnage {
    width: 280px; 
    min-width: 230px;
    background-color: var(--gal_bg_pale_75);
    box-shadow: 0 1PX 4PX var(--gal_bg_surligne); 
    transition: .25s;
}

.carte-personnage:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 8px var(--gal_bg_surligne);
    transition: .25s; 
}

.carte-perso-image {
    background-color: var(--gal_bg_surligne);
}

.carte-perso-image img {
    max-height: 250px;       
}
.carte-perso-libele{
    color: var(--gal_second_rouge);
}

.carte-perso-valeur{
    color: var(--gal_primaire_fonce);
}

.carte-perso-badge-hostile {
    background-color: var(--gal_rouge_moyen);
    color: var(--gal_gris_pale);
}

.carte-perso-badge-amical {
    background-color: var(--gal_second_bleu);
    color: var(--gal_gris_pale);
}

.modale-perso {
    background-color: var(--gal_gris_pale);
}

.modale-perso-image {
    width: 233px;
    max-width: 100%;
    background-color: var(--gal_bg_surligne);
}

.modal-perso-titre{
    color: var(--gal_primaire_fonce);
}



@media(min-widht: 700px) {
    .entete{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}